.home {
  background: url(../../public/images/header_bg.png) no-repeat;
  background-size: cover;

  padding: 2.4rem 6.4rem;

  display: flex;
  flex-direction: column;
  position: relative;
}

.home .overlay {
  background: linear-gradient(269.96deg, rgba(29, 29, 29, 0) 0.04%, rgba(29, 29, 29, 0.8) 99.5%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.home .content {
  z-index: 999;
  max-width: 124.6rem;
  width: 100%;
  margin: 0 auto;
}

.home header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home header .buttons {
  display: flex;
  gap: 4rem;
}

.home header a {
  padding: .8rem;
  transition: filter 0.2s;
}

.home header a:hover {
  filter: brightness(0.8);
}