:root {
  --primary: #1D1D1D;
  --tagBg: rgba(29, 29, 29, 0.5);
  --primaryWhite: #FFFFFF;
  --primaryTeal: #0FEFFD;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
